﻿
@{
    ViewBag.Title = "Home Page";
}
@model mvc1.Models.Phone
<div class="jumbotron">
    <h1>Whacky Site</h1>
    <h2>TempData: @TempData["myData"]</h2>

    @Html.DisplayForModel()
    @Html.EditorForModel()
</div>