﻿
<h1>List of Users</h1>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>BalackLevel</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let u of users">
        <td>
            {{u?.name}}
        </td>
        <td>
            {{u?.email}}
        </td>
        <td>
            {{u?.blacklevel}}
        </td>
    </tr>
    <script type="text/javascript">
        console.log(users[0]);
    </script>
    </tbody>
    
    <input type="button" click="showUsers()" content="jhjhjh"/>
</table>