﻿@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <form method="get" action="">
        <input type="text" name="search"/>
        <input type="submit" name="go" value="Search!"/>
    </form>
    <div>
        <p>@ViewBag.Text</p>
    </div>
</div>
