﻿
@{
    
}

<h2>Login</h2>
<h3>
    @if (ViewBag.username != null)
    {
        @: Hello @ViewBag.username
    }
</h3>
<form method="post">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="submit"/>
</form>
