<h1>Users</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="users">
  <thead>
  <tr>
    <th>Name</th>
    <th>email</th>
    <th>BlackLevel</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.blackLevel }}</td>
  </tr>
  </tbody>
</table>
