<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Angular</title>
    </head>
    <body>
        <div class="myclass" ng-controller = "myCtrl">
            {{hello}}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script>
            var myApp = angular.module('myApp', []);
                myApp.controller('myCtrl', function($scorpe){
                $scorpe.hello = 55;
              });
        </script>
        
    </body>
</html>
